<div flexLayout="row" class="footerManu">
  <div fxFlex>
    <div>Categories</div>
    <ul>
      <li>Category 1</li>
      <li>Category 2</li>
      <li>Category 3</li>
    </ul>
  </div>
  <div fxFlex>
    <div>Company</div>
    <ul>
      <li>Company 1</li>
      <li>Company 2</li>
      <li>Company 3</li>
    </ul>
  </div>
  <div fxFlex>
    <div>Support</div>
    <ul>
      <li>Support 1</li>
      <li>Support 2</li>
      <li>Support 3</li>
    </ul>
  </div>
</div>
<div flexLayout="column" class="footerCopy">
  Copy &copy; Shop 2023 All rights reserved.
</div>
