<!-- <h1>Edycja produktu</h1>
<form fxLayout="column" [formGroup]="productForm" (submit)="submit()">
  <app-admin-product-form [parentForm]="productForm"></app-admin-product-form>
</form>
<img *ngIf="image" src="{{ '/api/data/productImage/' + image }}" width="200" />
<form [formGroup]="imageForm" (submit)="uploadFile()">
  <input
    type="file"
    [accept]="requiredFileTypes"
    (change)="onFileChange($event)"
  />
  <button mat-flat-button color="basic">Upload</button>
</form> -->

<form fxLayout="column" [formGroup]="productForm" (submit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Give a name of product"
      formControlName="name"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      rows="20"
      placeholder="Give a description of product"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <input
      matInput
      placeholder="Give a category of product"
      formControlName="category"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input
      matInput
      placeholder="Give a price of product"
      formControlName="price"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <input
      matInput
      placeholder="Give a currency of product"
      value="PLN"
      formControlName="currency"
    />
  </mat-form-field>

  <div fxLayout="colum" fxFlexAlign="end" fxLayoutGap="10">
    <button mat-flat-button color="primary">Save</button>
  </div>
</form>
